
body {
  background-color: #97dee5;
  font-size: 1.0em;
  font-weight: 200;
  font-family: Helvetica, Arial, serif;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-left:30px;
}

header {
  background-color:#154c51;
  height:110px;
  color:white;
  width:100%;
  margin-left, margin-right:-50px;
}

fieldset {
	margin: 115px auto;
	width: 900px;
	padding: 8px 15px 15px 15px;
	border: 3px solid white;
	display: block;
  text-align: left;
	}
legend {
		padding: 4px 6px 4px 6px;
		border: 1px solid white;
		font-size: 2.0em;
		color:;
		font-style: italic;
	}

  textarea, input[type=text] {
      width: 50%;
      font-size:0.8em;
      height:2.5em;
      margin: 8px 0;
      box-sizing: border-box;
  }

  textarea {
    display:inline-block;
    vertical-align:middle;
    height:4.0em;
  }

  .nav ul {
    list-style: none;
    background-color: #47c6d1;
    text-align: right;
    padding-right: 50px;
    margin-right:50px;
    margin-top:-50px;
    width:25%;
}

.nav li {
  font-size: 1em;
  line-height: 40px;
  height: 30px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #1f737a;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.btn {
  margin-top: 10px;
}

.btn-single {
  margin-top:-100px;
}
.main-header {
  float: center;
}

.all-questions {
  text-align:left;
}

.box {
background-color: white;
padding: 5% 10%;
border: 10px solid #ffa224;
margin: 75px 250px 30px;
}

.list-each {
  margin-top:4px;
}

.question-field {
  width:80%;
}

.question-link {
  height:30px;
  margin-top:5px;
}
.return-home {
  height:30px;
  margin-top:40px;
}

.next-q {
 padding-top:200px;
}
.enter-question {
  padding-top:300px;
}
  #submit {
    width: 250px;
    height:40px;
    background-color: red;
    font-size:1em;
    color:white;
    margin-top:20px;
  }

  #submit-2 {
    width: 200px;
    height:28px;
    background-color: red;
    font-size:.8em;
    color:white;
    margin-top:20px;
  }

label .label-question {
  text-align:justify;
}

  .delete , .update {
    text-align:right;
    margin-top:15px;
  }

  .btn-primary {
    width:100px;
    height:50px;
    background-color:red;
    color:white;
    font-size:.8em;
  }


  @media only screen and (max-width: 767px) {
    body {
      background-color: lightpink;
      font-size:0.8em;
    }
    .question-field {
      width:70%;
    }

    .box {
      padding: 5% 10%;
      border: 10px solid #ffa224;
      margin: 30px 10px 10px;
    }
  }
